*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* site-header  */
.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header-action{
  display: flex;
  align-items: center;
}

/* navigation  */
.site_nav_list{
  display: flex;
  align-items: center;

}
.site_nav_items{
  list-style: none;
  margin-right: 32px;
}
.site_nav_items a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-link{
  background-color: #ff7500;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: #fff;

}
/* site hero  */
.site-hero{
  display: flex;
  justify-content: space-between;
  background-color: #252420
}
.site__hero-item{
  width: 390px;
  color: #fff;
}
.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.hero-img{
  width: 510px;
  height: 510px;
}
.hero-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

/* featuresite  */

.feature-title{
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
}
.features-list{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.feature{
  width: 340px;
  list-style: none;
}

.feature-icon_wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  /* border-radius: 50%; */
}

/* Aksiya*/
.promo{
  display: flex;
  align-items:center;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
}
.promo-content{
  width: 440px;
  height: 291px;
}
.promo-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.promo-highlite{
  color: #ff7500;
}
/* social media  */
.social-media_icon{
  display: flex;
}
.social-media_link{
  list-style: none;
}

/* site footer  */
.site-footer{
  background: #F8F8F8;
}
.site-footer-top{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.site-footer-divaydr{
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}
/* footer links  */
.site-footer-bottom{
  display: flex;
  justify-content: space-around;
}
.site-footer_list{
  width: 224px;
  line-height: 19px;
  list-style: none;
}
.site-footer_list a{
  color: #252420;
  text-decoration: none;
}