*{
  box-sizing: border-box;
}
*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

body{
  /* width: 1440px; */
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
/* site-header  */
.site-header{
  border-top: 5px solid #ff7500;
}
.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 170px;
}
.site-header-action{
  display: flex;
  align-items: center;
}
.site-logo_img{
  display: block;
}
.site-logo_img:hover{
  opacity: 0.8;
}
.site-logo_img:active{
  opacity: 0.6;
}

/* navigation  */

.site_nav_list{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.site_nav_items:last-child{
  margin-right: 0;
}
.site_nav_items a{
  margin-right: 32px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s ease;
  opacity: 0.4 ease;
}
.sitenav-link:hover{
  color:#ff7500
}
.sitenav-link:active{
  opacity: 0.6;
}
.btn-link{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #ff7500;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: #fff;
}
.btn-link:hover{
  opacity: 0.8;
}
.btn-link:active{
  opacity: 0.6;
}
/* site hero  */
.site-hero{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}
.hero-container{
  display: flex;
  justify-content: space-between;
}
.site-hero-contend{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  margin: 0;
  margin-bottom: 40px;
  margin-right: 32px;
  border: 0;
  background-color: #ff7500;
}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
.hero-title{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.hero_subtitle{
  margin-top: 0;
  margin-bottom: 32px;
}

/* featuresite  */
.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature-title{
  width: 440px;
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 72px;
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 86px;
}
.features-list{
  display: flex;
  align-items:center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  /* justify-content: space-between; */
}
.feature{
  width: 340px;
  list-style: none;
  padding: 0;
  margin-right: 40px;
}
.feature:last-child{
  margin-right: 0;
}

.feature-icon_wrapper{
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}

/* Aksiya*/
.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-box{
  display: flex;
  align-items:center;
  padding: 0;
  justify-content: space-around;
  background-color: #000;
  border-radius: 8px;
  color: #fff;
}
.promo-content{
  width: 440px;
}
.promo-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 48px;
}
.promo-info{
  margin-bottom: 12px;
}
.promo-subtitle{
  margin-top: 0;
  margin-bottom: 12px;
}
.promo-subtitle:last-child{
  margin-bottom: 0;
}
.promo-img{
  width: 440px;
  height: 440px;
  border-radius: 12px;
}
.promo-highlite{
  color: #ff7500;
}

/* social media  */
.social-media_icon{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

}
.social-media_icon li{
  margin-right: 16px;
}
.social-media_icon li:last-child{
  margin-right: 0;
}
.social-media_icon a{
  display: block;
  color: #222;
}
.social-media_icon a svg{
  display: block;
}
.social-media_icon a:hover{
  color: #ff7500;
}
.social-media_icon a:active{
  opacity: 0.6;
}


.site-footer-divaydr{
  height: 2px;
  margin-top: 40px;
  margin-bottom: 60px;
  background: rgba(37, 36, 32, 0.5);
}

/* site footer  */
.site-footer{
  background-color: #F8F8F8;
}
.site-footer-top{
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 16px 170px;
}
/* footer links  */
.site-footer-bottom{
  display: flex;
  justify-content: space-around;
}
.site-footer_list{
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  line-height: 19px;
  list-style: none;
}
.site-footer_list:last-child{
  margin-right: 0;
}
.site-footer_list li{
  margin-bottom: 16px;
}
.site-footer_list li:last-child{
  margin-bottom: 0;
}
.site-footer_list a{
  color: #252420;
  text-decoration: none;
}
.site-footer_list a:hover{
  color: #ff7500;
}
.site-footer_list a:active{
  opacity: 0.6;
}