*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto' 'Roboto Condensed', "Arial" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

/* navigation  */
.site-logo_img{
font-size: 32px;
font-style: bold;
line-height: 32px;
line-height: 100%;
}
.site-nav{
  text-decoration: none;
}
.site_nav_items{
  list-style: none;
}
.site_nav_items a{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-link{
  background-color: #ff7500;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0,5px;
  color: #fff;

}
/* site hero  */
.site-hero{
  background-color: #252420
}
.site__hero-item{
  width: 390px;
  color: #fff;
}
.orange-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.hero-img{
  width: 510px;
  height: 510px;
}
.hero-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0,5px;
}

/* featuresite  */
.feature-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
}
.feature{
  width: 340px;
  list-style: none;
}

.feature-icon_wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}

/* Aksiya*/
.promo{
  background-color: #000;
  color: #fff;
}
.promo-content{
  width: 440px;
  height: 291px;
}
.promo-title{
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0,5px;
}
.promo-highlite{
  color: #ff7500;
}
/* social media  */
.social-media_link{
  list-style: none;
}

/* site footer  */
.site-footer{
  width: 1440px;
  background: #F8F8F8;
}
.site-footer-bottom{
  width: 1100px;
}
.site-footer-divaydr{
  width: 1440px;
  height: 2px;
  background: rgba(37, 36, 32, 0.5);
}
/* footer links  */
.site-footer_list{
  width: 224px;
  list-style: none;
}
.site-footer_list a{
  color: #252420;
  text-decoration: none;
}